@use 'reset';
@use 'global';
@import 'responsive';

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
  font-weight: bold;

  header {
    h1 {
      font-size: rem(32);
      margin: 20px;
    }
    h2 {
      font-size: rem(24);
      margin: 30px;
    }
    img {
      margin: 35px;
    }
  }

  main {
    .list-generator {
      margin: 25px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      ul {
        display: flex;
        li {
          padding: 20px;
          button {
            font-size: rem(16);
            font-family: inherit;
            padding: 10px;
            border-radius: 6px;
            cursor: pointer;
          }
        }
      }
      div {
        display: flex;
        align-items: center;

        label {
          select {
            padding: 5px;
            font-family: inherit;
            cursor: pointer;
          }
        }
      }
    }
    .pokemon-list {
      h2 {
        font-size: 30px;
        margin-bottom: 30px;
      }
      ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        li {
          color: white;
          padding: 10px;
          margin: 12px;
          align-items: center;
          border-radius: 10px;
          background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d8c8vec-f5fe878b-b71f-42d5-b392-80f813feb639.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDhjOHZlYy1mNWZlODc4Yi1iNzFmLTQyZDUtYjM5Mi04MGY4MTNmZWI2MzkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.iJZ_gcH8TU_Xv-X4ishMNchye76Sb4DbSz9kctTHksU');

          div {
            display: flex;
            flex-direction: column;
            span {
              padding: 10px;
            }

            p {
              color: black;
              margin: 25px;
              border-radius: 15%;
              padding: 5px;
              background-color: white;
            }
          }
          .hidden {
            display: none;
          }

          .poke-details {
            i {
              font-size: 40px;
            }
            img {
              background-color: white;
              margin: 15px;
              border-radius: 50%;
            }
            border-radius: 15px;
            font-weight: normal;
            text-align: left;
            color: white;
            font-size: rem(17);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d8c8vec-f5fe878b-b71f-42d5-b392-80f813feb639.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDhjOHZlYy1mNWZlODc4Yi1iNzFmLTQyZDUtYjM5Mi04MGY4MTNmZWI2MzkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.iJZ_gcH8TU_Xv-X4ishMNchye76Sb4DbSz9kctTHksU');
            border: 5px solid black;
            padding: 20px;
            z-index: 1;
          }
        }
      }
    }
  }
  footer {
    margin-top: 35px;
  }
}
