/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-width: 375px;
  font-family: "Press Start 2P", cursive;
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgb(227, 155, 211) 0%, rgb(247, 249, 254) 44%, rgb(0, 212, 255) 100%);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
  font-weight: bold;
}
#app header h1 {
  font-size: 2rem;
  margin: 20px;
}
#app header h2 {
  font-size: 1.5rem;
  margin: 30px;
}
#app header img {
  margin: 35px;
}
#app main .list-generator {
  margin: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
#app main .list-generator ul {
  display: flex;
}
#app main .list-generator ul li {
  padding: 20px;
}
#app main .list-generator ul li button {
  font-size: 1rem;
  font-family: inherit;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
#app main .list-generator div {
  display: flex;
  align-items: center;
}
#app main .list-generator div label select {
  padding: 5px;
  font-family: inherit;
  cursor: pointer;
}
#app main .pokemon-list h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
#app main .pokemon-list ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#app main .pokemon-list ul li {
  color: white;
  padding: 10px;
  margin: 12px;
  align-items: center;
  border-radius: 10px;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d8c8vec-f5fe878b-b71f-42d5-b392-80f813feb639.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDhjOHZlYy1mNWZlODc4Yi1iNzFmLTQyZDUtYjM5Mi04MGY4MTNmZWI2MzkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.iJZ_gcH8TU_Xv-X4ishMNchye76Sb4DbSz9kctTHksU");
}
#app main .pokemon-list ul li div {
  display: flex;
  flex-direction: column;
}
#app main .pokemon-list ul li div span {
  padding: 10px;
}
#app main .pokemon-list ul li div img {
  cursor: pointer;
}
#app main .pokemon-list ul li div p {
  color: black;
  margin: 25px;
  border-radius: 15%;
  padding: 5px;
  background-color: white;
}
#app main .pokemon-list ul li .hidden {
  display: none;
}
#app main .pokemon-list ul li .poke-details {
  border-radius: 15px;
  font-weight: normal;
  text-align: left;
  color: white;
  font-size: 1.0625rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d8c8vec-f5fe878b-b71f-42d5-b392-80f813feb639.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDhjOHZlYy1mNWZlODc4Yi1iNzFmLTQyZDUtYjM5Mi04MGY4MTNmZWI2MzkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.iJZ_gcH8TU_Xv-X4ishMNchye76Sb4DbSz9kctTHksU");
  border: 5px solid black;
  padding: 20px;
  z-index: 1;
}
#app main .pokemon-list ul li .poke-details h2 {
  margin-top: 10px;
  font-size: 1.375rem;
  text-align: center;
}
#app main .pokemon-list ul li .poke-details i {
  font-size: 40px;
  cursor: pointer;
}
#app main .pokemon-list ul li .poke-details i:hover {
  color: gray;
}
#app main .pokemon-list ul li .poke-details img {
  background-color: white;
  margin: 15px;
  border-radius: 50%;
}
#app main .pokemon-list ul li .poke-details div {
  margin-top: 12px;
}
#app footer {
  margin-top: 35px;
}

/*# sourceMappingURL=styles.css.map */
